body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #bf4c41;
  text-align: center;
}

.overlay {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    padding: 40px;
}

h1 {
    font-size: 40px;
    margin-top: 80px; 
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.gallery img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

button {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #bf4c41;
    color: white;
    font-size: 16px;
}

button:hover {
    background: #ff2e74;
}

.hidden-btn {
    background: black;

}






